<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.sherlock">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".testRP.testRP_view" />
        <activity android:name=".testV.testV_view" />
        <activity android:name=".study_menu.move_on_study.chapter.chapter_view" />
        <activity android:name=".study_menu.move_on_study.move_on_study_view" />
        <activity android:name=".study_menu.study_menu_view" />
        <activity android:name=".tasks.move_on_task.move_on_task_view" />
        <activity android:name=".tasks.tasks_view" />
        <activity android:name=".test.test_view" />
        <activity android:name=".main_view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7354052962832258~2316645456"/>
    </application>

</manifest>